## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis=1)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = application_df["APPLICATION_TYPE"].value_counts()[application_df["APPLICATION_TYPE"].value_counts() < cutoff].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff2 = 1000
classifications_to_replace = application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts() < cutoff2].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [73]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 50
hidden_nodes_layer2 = 30

model = tf.keras.models.Sequential()

# First hidden layer
model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
model.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_49 (Dense)            (None, 50)                2200

 dense_50 (Dense)            (None, 30)                1530

 dense_51 (Dense)            (None, 1)                 31

=================================================================
Total params: 3,761
Trainable params: 3,761
Non-trainable params: 0
_________________________________________________________________

In [74]:
# Compile the model
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [75]:
# Train the model
fit_model = model.fit(X_train, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 757us/step - loss: 55781.5742 - accuracy: 0.4928
Epoch 2/50
804/804 [==============================] - 1s 737us/step - loss: 48062.2422 - accuracy: 0.4966
Epoch 3/50
804/804 [==============================] - 1s 750us/step - loss: 59316.2109 - accuracy: 0.4905
Epoch 4/50
804/804 [==============================] - 1s 736us/step - loss: 31810.3867 - accuracy: 0.5161
Epoch 5/50
804/804 [==============================] - 1s 736us/step - loss: 18213.8574 - accuracy: 0.4965
Epoch 6/50
804/804 [==============================] - 1s 743us/step - loss: 38308.6680 - accuracy: 0.5127
Epoch 7/50
804/804 [==============================] - 1s 761us/step - loss: 12331.5879 - accuracy: 0.5006
Epoch 8/50
804/804 [==============================] - 1s 788us/step - loss: 21553.3027 - accuracy: 0.4956
Epoch 9/50
804/804 [==============================] - 1s 749us/step - loss: 12407.5928 - accuracy: 0.5025
Epoch 10/50
804/804 [==============================] - 1s 742us/step - loss: 22524.0723 - accuracy: 0.5016
Epoch 11/50
804/804 [==============================] - 1s 753us/step - loss: 17616.2168 - accuracy: 0.5136
Epoch 12/50
804/804 [==============================] - 1s 743us/step - loss: 16754.9941 - accuracy: 0.5011
Epoch 13/50
804/804 [==============================] - 1s 759us/step - loss: 5215.0537 - accuracy: 0.5079
Epoch 14/50
804/804 [==============================] - 1s 743us/step - loss: 9798.9121 - accuracy: 0.5046
Epoch 15/50
804/804 [==============================] - 1s 738us/step - loss: 9803.4668 - accuracy: 0.5039
Epoch 16/50
804/804 [==============================] - 1s 740us/step - loss: 10512.3848 - accuracy: 0.5090
Epoch 17/50
804/804 [==============================] - 1s 734us/step - loss: 2484.1621 - accuracy: 0.5294
Epoch 18/50
804/804 [==============================] - 1s 773us/step - loss: 2418.7827 - accuracy: 0.5044
Epoch 19/50
804/804 [==============================] - 1s 747us/step - loss: 253.2707 - accuracy: 0.5229
Epoch 20/50
804/804 [==============================] - 1s 774us/step - loss: 198.9122 - accuracy: 0.5125
Epoch 21/50
804/804 [==============================] - 1s 812us/step - loss: 5.0065 - accuracy: 0.5180
Epoch 22/50
804/804 [==============================] - 1s 796us/step - loss: 0.6414 - accuracy: 0.6240
Epoch 23/50
804/804 [==============================] - 1s 789us/step - loss: 0.6363 - accuracy: 0.6375
Epoch 24/50
804/804 [==============================] - 1s 780us/step - loss: 0.6336 - accuracy: 0.6439
Epoch 25/50
804/804 [==============================] - 1s 783us/step - loss: 0.6319 - accuracy: 0.6488
Epoch 26/50
804/804 [==============================] - 1s 787us/step - loss: 0.6309 - accuracy: 0.6498
Epoch 27/50
804/804 [==============================] - 1s 798us/step - loss: 0.6303 - accuracy: 0.6504
Epoch 28/50
804/804 [==============================] - 1s 779us/step - loss: 0.6296 - accuracy: 0.6515
Epoch 29/50
804/804 [==============================] - 1s 782us/step - loss: 0.6290 - accuracy: 0.6529
Epoch 30/50
804/804 [==============================] - 1s 768us/step - loss: 0.6283 - accuracy: 0.6543
Epoch 31/50
804/804 [==============================] - 1s 750us/step - loss: 0.6275 - accuracy: 0.6558
Epoch 32/50
804/804 [==============================] - 1s 742us/step - loss: 0.6252 - accuracy: 0.6598
Epoch 33/50
804/804 [==============================] - 1s 745us/step - loss: 0.6867 - accuracy: 0.5934
Epoch 34/50
804/804 [==============================] - 1s 921us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 35/50
804/804 [==============================] - 1s 804us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 36/50
804/804 [==============================] - 1s 767us/step - loss: 0.6913 - accuracy: 0.5318
Epoch 37/50
804/804 [==============================] - 1s 762us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 38/50
804/804 [==============================] - 1s 758us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 39/50
804/804 [==============================] - 1s 757us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 40/50
804/804 [==============================] - 1s 773us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 41/50
804/804 [==============================] - 1s 786us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 42/50
804/804 [==============================] - 1s 745us/step - loss: 0.6913 - accuracy: 0.5318
Epoch 43/50
804/804 [==============================] - 1s 746us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 44/50
804/804 [==============================] - 1s 746us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 45/50
804/804 [==============================] - 1s 735us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 46/50
804/804 [==============================] - 1s 783us/step - loss: 0.6913 - accuracy: 0.5318
Epoch 47/50
804/804 [==============================] - 1s 751us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 48/50
804/804 [==============================] - 1s 761us/step - loss: 0.6913 - accuracy: 0.5318
Epoch 49/50
804/804 [==============================] - 1s 774us/step - loss: 0.6912 - accuracy: 0.5318
Epoch 50/50
804/804 [==============================] - 1s 783us/step - loss: 0.6912 - accuracy: 0.5318

In [76]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7089 - accuracy: 0.7020 - 221ms/epoch - 824us/step
Loss: 0.7088727951049805, Accuracy: 0.7020407915115356

In [77]:
# Export our model to HDF5 file
model.save('../deep-learning-challenge/h5_files/AlphabetSoupCharity_Optimization1.h5')